<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Application de prédiction d'émotions</title>
    </head>
    <body>
        <div>
            <a href="/index">Accueil</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <FONT COLOR="#1AA141">{{ message|safe }}</FONT>
        {% endfor %}
        <hr>
        {% endif %}
        {% endwith %}
        <h1>Portail de prédiction pour émotion</h1>
        <h2>Choisir les fichiers audio et texte pour l'inférence:</h2>
        <form action = "http://localhost:8888/index" method = "POST" 
            enctype = "multipart/form-data">
            <input type = "file" name = "files[]" multiple required />
            <input type = "submit"/>
        </form>
    </body>
</html>
